<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs', { pageName: "User Profile" }) %>
<body>
    <h1>Edit User Info (insert username here)</h1>
    <div>
        <form method="POST" action="/user/<%= user._id %>?_method=PUT">
            <div>
                <label>Username</label>
                <input type="text" name="name" value="<%= user.userName%>"/>
            </div>
            <div>
                <label>User image</label>
                <input type="text" name="image" value="<%= product.image%>"/>
            </div>
            <div>
                <label>Product price</label>
                <input type="number" name="price" value="<%= user.booksSold%>"/>
            </div>
            <div>
                <input type="submit" value="Edit Product: <%= product.name%>"/>
            </div>
        </form>
    </div>




    <div> <%- include('partials/head.ejs') %> </div>
    <h1>Username</h1>
    <p>image</p>
    <ul>
        <li>books sold</li>
        <li>location</li>
    </ul>
    <ul>
        <label>Reveiws</label>
        <li>reviews in list here</li>
    </ul>
    
</body>
</html>