<!DOCTYPE html>
<html lang="en">
<head>    <%- include('./partials/head.ejs', { pageName: "User Profile" }) %>
</head>
<body>
    <div class = 'header'>
        <%- include('./partials/nav.ejs') %>
    </div>
    <div ><img class = 'homeImg' src = "https://i.imgur.com/4le1od5.png" alt = "Good books deserve to be reread"></div>
    <div>
        <h2>Welcome to R&D Used Books!</h2>
        <h3>We have a passion for helping people buy and sell used books.  Come in and browse our shelves!
        </h3>
       <h3>Leave reviews to help people know what books to buy, and which sellers are your favorites.</h3>
    </div>
<div>
    <% for(let i = 0; i < books.length; i++) {%>
        <% const book = books[i] %>
        <div>
            <div>
                <p><%= book.title %></p>
            </div>
            <a href="products/<%= book._id %>"><img src="<%= book.image%>" alt="<%= book.title %>"></a>
        </div>
        <%}%>
    </div>


</body>
</html>