<!DOCTYPE html>
<html lang="en">
   <%- include('partials/head.ejs') %> 
<body>
    <%- include('partials/nav.ejs') %>
    <div class="search-wrapper">
        <label for="search">Search:</label>
        <input type="search" id="search" placeholder="Book Title or Author" data-search>
    </div>
    <div class="books" data-books>
        <% for(let i = 0; i < books.length; i++) {%>
            <% const book = books[i] %>
            <div>
                <a href="products/<%= book._id %>"><img src="<%= book.image%>" alt="<%= book.title %>"></a>
                <div>
                    <ul>
                        <li data-book-title><%= book.title %></li>
                        <li>$ <%= book.price %></li>
                    </ul>
                </div>
            </div>
            <%}%>
    </div>
</body>
</html>