<!DOCTYPE html>
<html lang="en">
   <%- include('partials/head.ejs') %> 
<body>
    <%- include('partials/nav.ejs') %>
    <!-- <script>
        let searchBar = document.querySelector('#search')
        searchBar.addEventListener('input', (e) => {
            console.log(e.key)
        })
        console.log(input)
        function setAction(form) {
            form.action = '/products/?title='+input
        }
    </script> -->
    
    <form onsubmit="setAction(this)">
        <label for="search">Search:</label>
        <input type="search" id="search" placeholder="Book Title or Author">
        <input type="submit" value="Search">
    </form>
    <script>
        let search = document.querySelector('#search')
        let input = search.value
        search.addEventListener('keyup', (e) => {
            let input = e.key
            function setAction(form) {
            form.action = '/products/?title='+input
        }
        })
        
    </script>
    <div>
        <% for(let i = 0; i < books.length; i++) {%>
            <% const book = books[i] %>
            <div>
                <a href="products/<%= book._id %>"><img src="<%= book.image%>" alt="<%= book.title %>"></a>
                <div>
                        <h3><%= book.title %></h3>
                        <p>$ <%= book.price %></p>
                </div>
            </div>
            <%}%>
    </div>
</body>
</html>