<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', { pageName: "Bookstore" }) %>
</head>

<body>
    <div class='header'>
        <%- include('./partials/nav.ejs') %>
    </div>
        <form id="search-form" method="POST" action="/products/search"  >
        <label for="search">Search:</label>
        <input name="search" type="search" id="search" placeholder="Book Title or Author">
        <input id="submit" type="submit" value="Search">
    </form>
    <div>
        <form action="/search" method="POST">
            <input id="search" type="text" name="book" value="" placeholder="Book Title or Author">
            <input type="submit">
        </form>
    </div>
    <div>
        <% for(let i=0; i < books.length; i++) {%>
            <% const book=books[i] %>
                <div>
                    <a href="products/<%= book._id %>"><img class="bookcover" src="<%= book.image%>" alt="<%= book.title %>"></a>
                </div>
                <div class=bookTandP>
                    <p class = bookUnder>
                        <%= book.title %>
                    </p>
                    <p class = bookUnder>$ <%= book.price %>
                    </p>
                </div>
                <div class="spacer"></div>
            <%}%>
    </div>
</body>

</html>