<!DOCTYPE html>
<html lang="en">
   <%- include('partials/head.ejs') %> 
<body>
    <%- include('partials/nav.ejs') %>
    
    
    <form id="search-form" method="POST" action="/products/search"  >
        <label for="search">Search:</label>
        <input name="search" type="search" id="search" placeholder="Book Title or Author">
        <input id="submit" type="submit" value="Search">
    </form>

    
    <div>
        <% for(let i = 0; i < books.length; i++) {%>
            <% const book = books[i] %>
            <div>
                <a href="products/<%= book._id %>"><img src="<%= book.image%>" alt="<%= book.title %>"></a>
                <div>
                        <h3><%= book.title %></h3>
                        <p>$ <%= book.price %></p>
                </div>
            </div>
            <%}%>
    </div>
</body>
</html>