<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs', { pageName: "User Profile" }) %>
<body>
    <div> <%- include('partials/head.ejs') %> </div>
    <h1><%=oneUser.name%></h1>
    <div>
        <img class="userImage" src="<%= oneUser.image %>" alt="<%= oneUser.userName %>"/>
    </div>
    <ul>
        <li> <%= oneUser.booksSold%></li>
        <li><%= oneUser.location%></li>
    </ul>
    <ul>
        <!-- Waiting on review creation -->
        <label>Reviews</label>
        <li>reviews in list here</li>
    </ul>    
</body>
</html>