<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= oneBook.title %></title>
</head>
<body>
    <img src="<%= oneBook.image %> " alt="<%= oneBook.title %>">
    <h3><%= oneBook.title %></h3>
    <p>By: <%= oneBook.author %> </p>
    <p>$<%= oneBook.price %> </p>
    <p><%= oneBook.condition %> Condition</p>
    <p><%= oneBook.location %></p>
    <p><%= oneBook.genre %></p>
    <p><%= oneBook.seller %></p>
    <h2>Overview</h2>
    <div>
        <p><%= oneBook.summary %></p>
    </div>
    <h2>Details</h2>
    <ul>
        <label for="publisher">Publisher:</label>
        <li name="publisher"><%= oneBook.publisher %> </li>

        <label for="publishDate">Publication Date:</label>
        <li name="publishDate"><%= oneBook.publishDate %></li>

        <label for="pages">Pages:</label>
        <li name="pages"><%= oneBook.pages %></li>
    </ul>
    <h2>Reviews</h2>
    <% for(let i = 0; i < review.length; i++ ){%>
        <ul>
            <h3><%= review[i].rating%> Stars</h3>
            <p><%=review[i].content%></p>
        </ul>
        <form action="/reviews/<%=review[i]._id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Review">
        </form>
        <%}%>
    
    <a href="/products/<%= oneBook._id %>/edit">Edit Book Info</a>
    <form action="/products/<%= oneBook._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete Book">
    </form>
</body>
</html>