<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= oneBook.title %></title>
</head>
<body>
    <h1><%= oneBook.title %></h1>
    <img src="<%= oneBook.image %> " alt="<%= oneBook.title %>">
    <p>By: <%= oneBook.author %> </p>
    <p>$<%= oneBook.price %> </p>
    <h2>Overview</h2>
    <div>
        <p><%= oneBook.summary %></p>
    </div>
    <h2>Details</h2>
    <ul>
        <label for="publisher">Publisher:</label>
        <li name="publisher"><%= oneBook.publisher %> </li>

        <label for="publishDate">Publication Date:</label>
        <li name="publishDate"><%= oneBook.publishDate %></li>
        
        <label for="pages">Pages:</label>
        <li name="pages"><%= oneBook.pages %></li>
    </ul>
</body>
</html>