<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', { pageName: "User Profile" }) %>

    <body>
        <div class='header'>
            <%- include('../partials/nav.ejs') %>
        </div>
        <div>
            <h1 class = "username">
                <%= users.username %>
            </h1>
            <image src='<%= users.avatar %>' alt='<%= users.username %>' />
        </div>
        <div>
            <ul class="aboutUser">
                <li>Books Sold: <%= users.booksSold %>
                </li>
                <li>Location: <%= users.location %>
                </li>
            </ul>
        </div>
        <div>
            
            <button><a href="/products/new">Sell a New Book</a></button>
            <button><a href="/user/<%= users.id %>/edit">Edit User Info</a></button>
            <form action="/user/<%= users.id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete User">
                <form>
                    <input type="button" value="Return" onclick="history.back()">
                </form>
        </div>
        <div class='footer'>
            <%- include('../partials/footer.ejs') %>
        </div>
    </body>

</html>